A) Abfrage und Ausgabe aller Tabellen in der Datenbank aus dem vorhergehenden Beispiel: 
Die Tabellen sollen im Terminal in "formatierter" Form ausgegeben werden. Dabei soll ein Datenbank-Curser verwendet
und eine entsprechende Abfrage mittels cursor.execute() ausgeführt werden.
Die Tabellenüberschrift ist optisch - zumindest durch eine Trennzeile vom 
Tabelleninhalt zu trennen. Es sollen jeweils nur die ersten 5 Zeilen einer Tabelle ausgegeben werden.

In [2]:
import pandas as pd
import sqlite3
sqlite_db= r'Schulsachen\3BWHII\INFI\A3\T1_Kunden_Mitarbeiter.db'
conn=sqlite3.connect(sqlite_db) 

# Creates sqlite Database - check in your file explorer
cur=conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
mytables=cur.fetchall()
for row in mytables:
    print('''*********************************************\n
--      <<<<<<{row}>>>>>>\n
-----------------------------------------------'''.format(row=row))
    cur.execute("SELECT * FROM {retrieved_table};".format(retrieved_table=row[0]))
    table_data=cur.fetchmany(5)
    for detailrow in table_data:
        print(detailrow)
    print('*********************************************' )

OperationalError: unable to open database file

In [ ]:
cur.execute("SELECT ID, Nachname FROM C_Kunden;")
result=cur.fetchall()
for row in result:
    print(row)

B) Erstelle einen Data Frame aus dem die Anzahl der Kunden je Kundenbetreuer ersichtlich ist. Die Anzahl soll bereits mittels 
SQL Statement berechnet werden. Die Sortierung (absteigend) soll im Data Frame erfolgen. 
Im Terminal sollen die "Top 5" Kundenbetreuer nach "Anzahl" ausgegeben werden.

In [ ]:
my_df=pd.read_sql("SELECT m.ID, m.Vorname, m.Nachname, COUNT(k.ID) FROM C_Mitarbeiter m JOIN C_Kunden k ON k.[Kunden-Betreuer] = m.ID GROUP BY m.ID;", conn)
my_df_new=my_df.sort_values(by='COUNT(k.ID)', ascending=False)
my_df_new.head()

In [ ]:
my_df.sort_values(by='COUNT(k.ID)', ascending=False)
my_df.head()

In [ ]:
my_df_new.to_html('df_sorted.html')